    body {
    margin: 0px;
    color: black;
    width: 1349px;
    font-family: cursive;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.border {
    height: 10px;
    background-color: rgb(11, 9, 9);
}


header {
    height: 68px;
    position: fixed;
    width: 1349px;
    background-color: white;
}

.header-logo {
    float: left;
    margin-top: 20px;
    margin-left: 140px;
}

.header-logo a {
    float: left;
}

.header-logo :hover {
    opacity: 0.7;
    transition: 0.1s;
}


.header-list {
    float: left;
    margin-left: 160px;
    margin-top: 30px;
    font-family: cursive;
}


.header-list li {
    float: left;
    margin-left: 30px;
    opacity: 0.5;
    cursor: pointer;
    display: block;
}

.header-list li a {
    color: black;
    transition: 0.2s;
}

.header-list li :hover {
    transition: 0.3s;
    background-color: yellow;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}


.header-right {
    float: right;
    margin-top: 15px;
    margin-right: 140px;
    cursor: pointer;
}

.header-right a {
    padding: 10px 15px;
    display: block;
    border-radius: 70px;
    background-color: black;
    color: white;
    font-family: cursive;
    transition: 0.2s;
}

.header-right :hover {
    padding: 15px 15px;
    background-color: yellow;
    color: black;
    opacity: 0.9;
    transition: 0.5s;
}


.hero {
    height: 570px;
}

.hero-icon img {
    margin-top: 90px;
    height: 570px;
}

/* .hero p {
    color: rgb(169, 212, 225);
    font-size: 50px;
    opacity: 0.7;
    font-family: fantasy;
    letter-spacing: 5px;
}

.hero-1{
    position: absolute;
    top: 300px;
    left: 350px;
}

.hero-2 {
    position: absolute;
    top: 350px;
    left: 380px;
} */



.home-section-1 {
    height: 768px;
    background-color: whitesmoke;
}

.s1div1 {
    float: left;
    margin-left: 140px;
    padding-top: 150px;
}


.one {
    font-family: cursive;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.story {
    font-size: 17px;
    font-weight: 500;
    font-family: cursive;
}

.two {
    line-height: 25px;
    padding-bottom: 1px;
}
.three {
    padding-bottom: 10px;
    line-height: 25px;
}
.four a {
    color: black;
    font-weight: bolder;
    font-family: monospace;
    transition: 0.7ms;
    font-size: 17px;
}

.four :hover{
    background-color: white;
    cursor: pointer;
    opacity: 0.7;
    
}


.s1div2 {
    float: left;
    padding-top: 150px;
    padding-left: 140px;
}

.home-section-2{
    height: 500px;
    background-color: rgb(249, 243, 233);
    font-family: cursive;
}

.section-title {
    margin-left: 350px;
    padding-top: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;

}

.contents-item {
    float: left;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 30px;
}

.contents-item p{
    font-size: 15px;
}

.prime {
    margin-left: 20px;
}

.btn-1{
    margin-left: 40px;
}


.btn-3 {
    margin-left: 40px;
}

.home-section-3 {
    height: 768px;
    padding: 0px 0px;
    padding-left: 140px;
}

.s3div1 {
    float: left;
    margin-top: 100px;
    width: 610px;
}

.s3div1 img {
    width: 534px;
}

.s3div2 {
    float: left;
    padding-left: 10px;
    width: 459px;
}

.s3d2t {
    font-family: cursive;
    text-align: justify;
    font-size: 29px;
    margin-top: 98px;
    margin-bottom: 0px;
}



.lck img{
    float: left;
    margin-right: 10px;
    height: 23px;
}

.lck p{
    font-family: cursive;
    font-size: 17px;
    margin-bottom: 10px;

    
}

.lckp {
    padding-left: 40px;
}


.s3d2tx {
    font-family: cursive;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.s3d2tx-li a{
    color: black;
    font-weight: bolder;
    font-family: cursive;
    font-size: 17px;
    line-height: 20px;
}

.s3d2tx-li :hover {
    background-color: white;
    opacity: 0.7;
}

.home-section-4 {
    height: 768px;
    padding: 0px 140px;
    margin-bottom: 0px;
    background-color: rgb(238, 235, 235);
}

.s4div1 {
    float: left;
    width: 610px;
    margin-top: 106px;
}

.s4div1 img {
    width: 534px;
}


.s4div2 {
    float: left;
    width: 459px;
    margin-top: 204px;
}

.s4div2 h1 {
    font-family: fantasy;
    margin: 0px;
}


.s4div2 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    font-family: cursive;
    text-align: justify;

}


.s4div2p-two {
    margin: 20px 0px;
}

.s4div2 a {
    font-weight: 900;
    font-family: cursive;
    font-size: 17px;
    color: black;
}

.s4div2 a:hover {
    background-color: white;
    opacity: 0.7;
}


footer {
    background-color: rgb(46, 46, 83);
    height: 650px;
}


.foot-head {
    float: left;
    margin-top: 140px;
    margin-right: 275px;
    margin-left: 274px;
    height: 300px;
}

.foot-head h1 {
    margin: 0px 0px;
    font-size: 41px;
    color: white;
    font-family: cursive;
}

.fh {
    margin: 0px 255px;
}

.foot-head-sub {
    float: left;
    margin-top: 35px;
    margin-right: 277px;
    margin-left: 277px;
}

.foot-head-sub a {
    padding: 10px 30px;
    border-radius: 70px;
    display: block;
    background-color: white;
    color: black;
    font-family: cursive;
    transition: 0.3s;
}

.foot-head-sub a:hover {
    margin-left: 15px;
    padding: 10px 15px;
    opacity: 0.9;
    background-color: yellow;
    transition: 0.4s;
}


.fdiv {
    float: left;
    margin: 0px 163px;
    font-family: cursive;
    color: white;
}

.fdiv p {
    font-weight: 900;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.fdiv a {
    color: white;
}

.fdiv ul {
    padding-left: 0px;
    margin: 0px 0px;
}

.fdiv li {
    margin-bottom: 15px;
}

.fdiv li a:hover {
    color: black;
    background-color: yellow;
}

.fdiv1 {
    float: left;
    width: 400px;
}

.fdiv2 {
    float: left;
    width: 400px;
}

.fdiv3 {
    float: left;
}

.fdiv3 p {
    margin-left: 15px;
}


.social {
    float: left;
    margin-bottom: 10px;
}

.social-media {
    float: left;
    margin-left: 15px;
}


.mail {
    margin-bottom: 15px;
    margin-left: 15px;
}

.mail li {
    margin-bottom: 0px;
}


.address p {
    font-size: 15px;
}



.about-section-1 {
    height: 500px;
}


.about-section-2 {
    height: 628px;
    margin: 0px 183px;
}

.as2div1 {
    float: left;
    width: 472px;
    margin-right: 50px ;
}

.as2div2 {
    float: left;
    width: 461px;
}

.as2div2 p {
    font-size: 12px;
    line-height: 20px;
}

.about-section-3 {
    height: 600px;
    background-color: rgb(230, 237, 241);
}

.as3div1 {
    margin: 0px 540px 0px 540px;
    width: 400px;
    height: 200px;
    float: left;
}

.as3div1 h5 {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.as3div1 h1 {
    margin: 0px 0px;
    font-size: 50px;
}

.as3div1 h1 span {
    color: rgb(83, 169, 216);
}

.as3div2 {
    height: 265px;
    float: left;
    margin: 0px 184px;
    margin-bottom: 50px;
}

.as3div2img {
    float: left;
    margin-left: 17px;
}

.as3div3 {
    float: left;
    margin-left: 605px;
}

.as3div3 a {
    padding: 10px 20px;
    background-color: rgb(83, 169, 216);
    border-radius: 5px;
    color: white;
    display: block;
    transition: 0.6s;
}

.as3div3 a:hover {
    margin-left: 10px;
    padding: 10px 10px;
    transition: 0.5s;
}



.contact-us-section-1 {
    height: 530px;
}


.contact-us-section-2 {
    height: 400px;
}

.cus2div1 {
    float: left;
    margin: 0px 184px;
    height: 265px;
}

.cus2div1img {
    float: left;
    margin-left: 16px;
}

.contact-us-section-3 {
    background-color: rgb(230, 237, 241);
    height: 768px;
}


.cus3div1 {
    margin: 0px 463px;
    float: left;
}

.cus3div22 {
    margin-top: 25px;
    height: 70px;
}


.cus3div1 h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
}

.cus3div1 h1 span {
    color: rgb(83, 169, 216);
}


.cus3div2 {
    float: left;
    height: 400px;
    margin: 0px 192px;
    width: 993px;

}

.cus3div21{
    height: 70px;
}

.cus3div21a {
    float: left;
    height: 70px;
    width: 480px;
    background-color: white;
}

.cu3div21a li {
    float: left;
    background-color: white;
}

.name img {
    float: left;
    padding: 26.2px 29.5px;
    margin: 0px;
}


.name input[type=text] {
    padding: 24.5px 0px 24.5px 0px;
    width: 82%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: cursive;
}

.cus3div21b {
    float: right;
    height: 70px;
    width: 480px;
    background-color: white;
}

.cu3div21b li {
    float: left;
    background-color: white;
}

.email img {
    float: left;
    padding: 26.2px 29.5px;
    margin: 0px;
}

.email input[type=text] {
    padding: 24.5px 0px 24.5px 0px;
    width: 82%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: cursive;
}



.cus3div22 {
    margin: 25px 0px;
    height: 70px;
}

.cus3div21a .phone img {
    float: left;
    padding: 26.2px 29.5px;
    margin: 0px;
}

.cus3div21a  .phone input[type=text] {
    padding: 24.5px 0px 24.5px 0px;
    width: 82%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: cursive;
}

.cus3div21b .subject img {
    float: left;
    padding: 26.2px 29.5px;
    margin: 0px;
}


.cus3div21b .subject input[type=text] {
    padding: 24.5px 0px 24.5px 0px;
    width: 82%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: cursive;
}

.cus3div23 {
    background-color: white;
}

.cus3div23 .message img {
    float: left;
    padding: 26.2px 29.5px;
    margin: 0px;
}


textarea {
    width: 92%;
    border: none;
    outline: none;
    font-family: cursive;
    font-size: 15px;
    resize: none;
    box-sizing: border-box;
    margin: 20px 0px;
}

.cus3div24 button {
    margin-top: 20px;
    font-size: 15px;
    outline: none;
    border: none;
    font-family: cursive;
    font-size: 15px;
    padding: 10px 30px;
    background-color: rgb(83, 169, 216);
    margin: 30px 416px 0px 416px;
}



.test {
    background-color: rgb(83, 169, 216);
    height: 300px;
    margin-left: 200px;

}

.cu3div21t {
    height: 70px;
    width: 470px;
    float: left;
    background-color: white;
}

