
.loader{
    width: 100%;
    height: auto;
    font-weight: 700;
    border: 1px solid black;
    animation: loader 5s ease-in 200ms infinite alternate ;
}
#userContainer > .section >ul > li{
    font-size: 19px;
    padding: 5px;
}
#userContainer > .section {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.section{
    margin-top: 10px;
}
@keyframes loader{
    0%{
        transform:translate( 0px 0px);
        background: rgba(40, 40, 154, 0.329);
        width: 50px;
        /* height: 100px; */
    }

    50%{
        transform:translate(10px 10px) ;
        background: rgba(0, 0, 255, 0.591);
        width: 70px;
        /* height: 200px; */
        
    }
    100%{
        transform: translate(20px 20px);
        background:rgba(0, 0, 255, 0.727) ;
        width: 100px;
        /* height: 280px; */
    }
}  

