@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
}
body{
    background: white;
    margin: 0;
    font-family: 'Poppins';
}
a {
    color:  darkgrey
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section{
    padding: 5em 2em;
}
.common{
    background-color: blueviolet;
}