body {
    background: hwb(125 13% 45%);
    margin: 0;
    font-family: 'Cambria, Cochin';
}
.Navigation Bar {
    background-color: white;
    padding: 1em;
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: red;
        font-size: 1.2em;
        span {
            color: aqua;
        }
    }
}
nav {
    display: none;
    .container {
        display: flex;
        place-content: space-between;
    }

}