:root {
  --primary-color: purple;
}

body {
  font-family: Helvetica;
  padding: 0em 10em 0em 5em;
}

ul {
  margin: 0em;
  padding: 1em;
  text-decoration: none;
}

.nav-bar .container nav {
  display: flex;
  place-content: space-between;
}

section {
  margin-bottom: 0em;
  padding: 0em;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

section {
  padding: 2em 10px 2em 10px;
}

.home {
  align-content: center;
}

.container {
  text-transform: inherit;
  display: flex;
  align-items: center;
}

.home-left-column {
  padding: 0em 10em 0em 0em;
}
.home-left-column h1 {
  font-size: 1.8em;
  font-weight: bolder;
}
.home-left-column p {
  font-size: 1.3em;
  color: gray;
  line-height: 1.7em;
}
.home-left-column a {
  padding: 0.7em 0em 0em 0em;
}

.home-right-column {
  padding: 0;
  margin-left: 0%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 7em 0 7em;
}
.flex-container .growth {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.flex-container .metrics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-content: space-between;
  font-size: 1.8em;
}
.flex-container .metrics p {
  font-size: medium;
  color: gray;
  line-height: 1.7em;
}

.right-column {
  padding-left: 3em;
  padding-right: 3em;
}
.right-column h1 {
  font-size: 1.8em;
  font-weight: bolder;
}
.right-column p {
  font-size: 1em;
  color: gray;
  line-height: 1.7em;
}

.home-4 .right-column h1 {
  padding-right: 3em;
  font-weight: bolder 1000px;
}
.home-4 .right-column ul.Questions {
  color: gray;
  line-height: 2em;
  padding-right: 3em;
  margin: 0em;
  font-size: medium;
}
.home-4 .right-column ul.Questions li {
  margin-left: 2em;
  position: relative;
  line-height: 2em;
  margin-top: 0em;
  padding-top: 0em;
}
.home-4 .right-column ul.Questions li::before {
  content: "";
  left: -2em;
  top: 0.4em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../frontEnd/icons8-done.svg");
  background-size: contain;
  margin-left: 0em;
}

.about2 .right-column-about-2 {
  padding-right: 3em;
  padding-left: 3em;
}
.about2 .right-column-about-2 h1 {
  font-weight: bolder 1000px;
}
.about2 .right-column-about-2 .subheader {
  font-weight: bold;
}
.about2 .right-column-about-2 .right-column-paragraph {
  line-height: 1.7em;
  color: gray;
}

.about3 {
  margin: 0em;
}
.about3 .services-top {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about3 .services-top p {
  font-size: small;
  font-weight: bold;
  margin: 0%;
}
.about3 .services-top h1 {
  font-size: 2.6em;
  font-weight: bolder;
}
.about3 .services-top h1 span {
  color: rgb(11, 162, 212);
}
.about3 .services {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  justify-items: center;
  padding-top: 2em;
}
.about3 .services img {
  padding-left: 2em;
  padding-bottom: 2em;
  width: 25%;
}
.about3 .services p {
  font-weight: bolder;
  padding-bottom: 2em;
  text-align: center;
}
.about3 .view-more {
  text-align: center;
  padding-left: 3em;
  margin: 0%;
}
.about3 .view-more a {
  text-decoration: none;
  color: white;
  background-color: rgb(11, 162, 212);
  padding: 1em 1.4em;
  font-size: 1em;
  border-radius: 0.3em;
}

.contact-2 {
  text-align: center;
  padding: 2em 4em;
}
.contact-2 .container {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  justify-items: center;
}
.contact-2 img {
  width: 65%;
}
.contact-2 .send-email {
  padding: 2em 4em;
  background-color: rgb(245, 244, 244);
}
.contact-2 .we-are {
  padding: 1.4em 3em;
  background-color: rgb(245, 244, 244);
}
.contact-2 .call-here {
  padding: 2em 4em;
  background-color: rgb(245, 244, 244);
}

.contac-us-2 {
  text-align: center;
}
.contac-us-2 h1 {
  font-size: 3.5em;
  padding-right: 0em;
  margin-right: 0em;
  text-align: center;
}
.contac-us-2 h1 span {
  color: blue;
  font-size: 2em;
  font-family: "Courier New";
}

label {
  display: flex;
  flex-direction: row;
  padding: 1em 2em;
  font-size: small;
}
label input, label textarea {
  padding-left: 2em;
  text-align: left;
}
label img {
  width: 1em;
  height: 1em;
  position: absolute;
  padding-top: 0.4em;
  padding-left: 0.5em;
}

.footer {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer .container {
  background-color: rgb(32, 5, 73);
}
.footer .container h1 {
  text-align: center;
  margin: 0em;
  padding: 0em 2em 2em 2em;
}
.footer .container .become-a-rider-cta {
  background-color: white;
  color: black;
  padding: 1em 1em;
  border-radius: 4em;
  text-align: center;
}
.footer .container .footer-container {
  display: flex;
  place-content: space-between;
  padding: 10em 10em;
}
.footer .container .footer-container img {
  width: 1em;
  height: 1em;
}/*# sourceMappingURL=main.css.map */