// General 
body {     
    background: #f2f2f2;     
    margin: 0;     
    font-family: Georgia, 'Times New Roman', Times, serif 
}  

a { 
    color: #444444; 
}  

ul {     
    list-style-type: none;     
    margin: 0;     
    padding: 0; 
}  

section {     
    padding: 5em 2em; 
} 
 
// Navbar 
.navbar {     
    background: white;     
    padding: 1em;     
    position: -webkit-sticky;     
    position: sticky;     
    top: 0;     
    z-index: 1;      
    
    .logo {         
        width: 6em; 
    } 

     nav {         
        display: none; 
    } 
 
    .container {         
        display: flex; 
        place-content: space-between; 
    } 
 
   .mobile-menu {        
       cursor: pointer;    
    } 
}  
nav.menu-btn {     
    display: block; 
}  
nav {     
    position: fixed;     
    z-index: 999;     
    width: 60%;     
    right: 0;     
    top: 0;     
    background: #271630;    
    height: 100vh;     
    padding: 1em;      
    
    ul.primary-nav {         
        margin-top: 5em; 
    }      
    
    li {        
        a {             
            color: white;             
            text-decoration: none;             
            display: block;             
            font-size: 1.3em;             
            text-align: right;             
            padding: .5em;              
            
            &:hover {                 
                font-weight: bold; 
            } 
        } 
    } 
} 
.mobile-menu-exit { 
    float: right;     
    margin: .5em;     
    cursor: pointer; 
} 

// Home 1 
section.home1 { 
    padding: 0;    
    position: relative;    
    text-align: center;    
    color: white; 

    img {        
        width: 100%; 
    } 
     .centered {         
        position: absolute;         
        top: 50%;         
        left: 50%; 
        transform: translate(-50%, -50%); 
    } 
} 
 
// Home 2 
.home2 {     
    text-align: center; 
} 
.home2-col {     
    h1 {         
        line-height: 1.3em;         
        margin-top: .2em; 
    } 
    .learn-more {         
        font-weight: bold;         
        color: black;         
        cursor: pointer; 
    } 
} 
.home2-img {     
    margin-top: 3em;     
    width: 100%; 
} 
 
// Home 3 
.home3 {  
    text-align: center;  
    background-color: #fffbf7; 
}
.home3-row {     
    margin-top: 3em; 
} 

.home3-column {     
    float: left;     
    width: 100%; 
} 
 
/* Clear floats after the columns */ 
.home3-row:after {     
    content: "";     
    display: table;     
    clear: both; 
} 
 
// Home 4 
.home4 {     
    text-align: center; 
} 
.home4-right {    
    margin-top: 3em;      
     
    h1 {         
        line-height: 1.3em;         
        margin-top: .2em; 
    } 
     
    .learn-more {         
        font-weight: bold;         
        color: black;         
        cursor: pointer; 
    } 
} 
 
.home4-list { 
   margin: 0;    
   padding-left: .1em;    
   text-align: left; 

li { 
    font-size: 1.1em; 
    margin-bottom: 1em;    
    margin-left: 2em; 
    position: relative; 
       
    &::before {            
        content: '';            
        position: absolute;           
        width: 20px; 
        height: 20px;             
        background-image: url('../images/bullet.svg');             
        background-size: contain;             
        margin-right: .5em;             
        left: -2em; 
        } 
    } 
} 
 
// Home 5 
.home5 { 
    text-align: center; 
} 
 
.home5-right {     
    margin-top: 3em; 
    h1 {         
        line-height: 1.3em;         
        margin-top: .2em; 
    } 
 
    .learn-more {         
        font-weight: bold;         
        color: black;         
        cursor: pointer; 
    } 
} 
 
// Footer 
.footer { 
   text-align: center;    
   background-color: #271630;    
   color: white; 

h1 { 
   font-size: 25px; 
   font-weight: bolder;
}
button {        
    font-weight: bold;        
    font-size: 1em;        
    border: none;        
    margin-top: 1em;         
    margin-bottom: 3em;        
    border-radius: 5em;         
    display: inline-block;         
    padding: .8em 2em;         
    width: unset;         
    cursor: pointer; 
    } 
} 
.footer-row {     
    margin-top: 3em; 
 
} 
.footer-column {     
    float: left;     
    width: 100%; 
} 
 
/* Clear floats after the columns */ 
.footer-row:after {     
    content: "";     
    display: table;     
    clear: both; 
} 
 
// Media queries 
@media screen and (min-width: 768px) { 
 
    .mobile-menu, 
    .mobile-menu-exit { 
       display: none;    
    } 
.navbar .container { 
    display: grid; 
    grid-template-columns: 100px auto; 
    justify-content: unset; 
}
.navbar nav {        
    display: flex;        
    justify-content: space-around;        
    background: none;        
    position: unset; 
    height: auto;
    width: 100%;
    padding: 0;
         
    ul {
        display: flex;
    }

    a {
        color: #444444;
        font-size: 1em;
        padding: .1em 1em;
    }

    ul.primary-nav {
        margin-top: 0;
    }
    li {
        align-self: center;
    }
        
    li.current a {
        font-weight: bold;
    }
        
    li.nav-button a {
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 5em;
        padding: 1em;

        &:hover {
        background: white;
        color: black;
        border: 2px solid black

        }
   }
}
section.home1 {
  font-size: 20px;
}

.home3-column,
.footer-column {
    width: 33.33%
}

