body {
    background-color: #e7eaf6;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 90px;
}
header img {
    height: 40px;
    margin-left: 150px;
}
a {
 text-decoration: none;
}
main {
    color: #000000;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
    padding: 15px;
}

header li a {
    color: grey;
}
header li a:hover {
    color: black;
}
header nav {
    margin-left: 200px;
    margin-right: 400px;
}
header content {
    background-color: black;
    background-size: contain;
    color: white;
    border-radius: 45px;
}
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('C:/Users/user/Desktop/myWeb/img/max1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1 {
    /* Text styles */
    font-size: 4em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.1em;
}
.heroc {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('C:/Users/user/Desktop/myWeb/img/max4.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.heroc h1 {
    /* Text styles */
    font-size: 4em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.1em;
}
.words, .words2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.flex-child, .flex-child2 {
    flex: 1;
    
}  

.flex-child:first-child, .flex-child2:first-child2 {
    margin-right: 40px;
} 
.words p {
    text-align: left;
    margin-left: 130px;
    color: grey;
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-right: 150px;
}

.words img {
    border-radius: 10px;
    align-items: center;
    margin-top: 150px;
}
.words a, .words2 a {
    text-decoration: underline;
    color: black;
   align-items: left;
   margin-left: 130px;
}
.words h1, .words2 h1 {
    text-align: left;
    margin-left: 130px;
    margin-top: 180px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}


.words2 h4 {
    text-align: left;
    margin-left: 130px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 42px;
    
}
.ratings {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
    background-color: #faf5e4;
}
.ratings h1 {
    margin-top: 300px;
    text-align: center;
    font-weight: 400; 
    font-size: 42px;
}
.ratings ul {
    display: flex;
}
.ratings li {
    display: inline;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
     font-size: 52px;
    line-height: 42px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 200px;
}
.words2 li, p{
    text-align: left;
    color: grey;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin-left: 100px;
    margin-right: 130px;
   list-style-image: url('C:/Users/user/Desktop/myWeb/img/check-circle-fill.svg');
}

.words2 img {
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
    margin-left: 150px;


}
.footer {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: white;
    /* Background styles */
    background-color: #272343;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer h1 {
    /* Text styles */
    font-size: 3.8em;
    /* Margins */
    argin-mtop: 0;
    margin-bottom: 0.5em;
}
.footer .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white;
    border-radius: 60px;
    background-color: white;
    background-size: cover;
    font-size: 14px;
}

.footer li {
    display: block;
    text-align: left;
    line-height: 40px;
    font-size: 15px;
}
 .container {
            width:90vw;
            height:100px;
        }
        #st-box {
            float:left;
            width:25vw;
            height:100px;
            padding: 40px;
        }
        #nd-box {
            float:left;
            width:25vw;
            height:100px;
            padding: 40px;
        }
        #rd-box {
            float:right;
            width:25vw;
            height:100px;
            padding: 40px;
        }
.container li:first-child {
    font-size: 1.2em;
    font-weight: bolder;
    
}
/*contact css*/
.heroc-inner a, .heroc-inner li {
    display: inline;
    color: white;
    font-size: i5px;
    align-items: center;
}
.contact {
    display: flex;
    background-color: white;
    width:100vw;
    height:80vh;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    
        }
        #box-1 {
            float:left;
            width:15vw;
            height:30vh;
            padding: 40px;
            border: 1px solid #e7eaf6;
          margin-right: 20px ;
          text-align: center;
            
        }
        #box-2 {
            float:left;
            width:15vw;
            height:30vh;
            padding: 40px;
            border:1px solid #e7eaf6;
             margin-left: 20px;
          margin-right: 20px ;
          text-align: center;
          align-items: center;
        }
        #box-3 {
            float:right;
            width:15vw;
            height:30vh;
            padding: 40px;
           border:1px solid #e7eaf6;
            margin-left: 20px;
            display: block;
            text-align: center;
          
        }
#circle {
    background: #f0d78c;
    border-radius: 50%;
    border: white;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 10px 0px skyblue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    margin-top: 40px;
}
#box-1 h5, #box-2 h5, #box-3 h5 {
    color: grey;
    line-height: 1px;
}
#box-1 h3, #box-2 h3, #box-3 h3 {
    margin-top: 30px;
    color: black;
    line-height: 1px;
}
#circle img {
    width: 50px;
}
input[type=text], select {
  width: 40vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

textarea {
  width: 900vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
.contact-form {
    display: block;
    width: 100vw;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  align-items: center;
}
.form-container div{
    float: left;
    margin: 20px;
}
.contact-form h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #233142;
}

.about {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: ##e3f6f5;
    
    
}
.column {
  float: left;
  width: 20vw;
  height: 50vh;
  margin: 20px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
    float: left;
    width: 28vw;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     justify-content: center;
     margin-bottom: 16px;
     margin-left: 20px;
  padding: 20px;
}

.about-section {
  padding: 40px;
  text-align: center;
  justify-content: center;
}

#circle2 {
    background: #feffdf;
    border-radius: 50%;
    border: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    margin-top: 40px;

}