* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}

.row {
  width: 100%;
  padding: 0px 80px;
  background-color: rgb(255, 251, 251);
  position: fixed;
}
.navbar {
  position: sticky;
  z-index: 1;
  position: -webkit-sticky;
  padding: auto;
}
.navbar nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  padding: 10px 18px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(32, 30, 30, 0.959);
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #5d87d500;
}

button {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 198px;
  right: 92%;
  height: 50px;
  margin-top: 10px;
  margin-right: 85px;
  padding: 4px 20px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(39, 43, 78, 0.507);
}

/* Section 1, Home 1 */

section.home1 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../task5/images/home1pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home1 p {
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-10%, -30%);
}

/* Section 2,  Home 2 */

.main-container {
  width: 1130px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.home2 {
  width: 1480px;
  padding: 60px 0px;
  margin: 0px -90px;
}

.home2 img {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  width: 45%;
  height: 450px;
  left: 618px;
  border-radius: 5px;
  overflow: hidden;
}

.text {
  width: 430px;
}

.text h2 {
  margin-bottom: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  margin-top: 10px;
}

.text p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #26282b;
  font-size: 18px;
  line-height: 28px;
}

.text a {
  font-family: "Gilroy", sans-serif;
  color: #1f0452;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

/*Section 3 Home 3 */

.home3 {
  background-color: rgba(218, 179, 132, 0.171);
  width: 100%;
  padding: 60px 0px;
  justify-content: space-around;
  margin-top: 30px;
}

.value-header {
  font-family: "Gilroy", sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.value-one {
  height: 65px;
  width: 335px;
  padding: 0px 15px;
  background: transparent;
  margin: 15px;
  position: relative;
  text-align: center;
}

.value-two {
  height: 65px;
  width: 335px;
  padding: 0px 15px;
  background: transparent;
  margin: 5px;
  position: relative;
  text-align: center;
}

.value-three {
  height: 65px;
  width: 335px;
  padding: 0px 35px;
  background: transparent;
  margin: 15px;
  position: relative;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: Gilroy, sans-serif;
  color: #000;
}

.para {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000;
  padding-bottom: 15px;
}

/* Home 4 Section 4 */
.home4 {
  width: 100%;
  max-width: 95%;
  padding: 70px 0px;
}
.home4 img {
  height: 660px;
  width: 530px;
  border-radius: 7px;
}
.home-four-text {
  width: 550px;
}

.main-container-one {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-four-text ul {
  display: block;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home-four-text ul li {
  list-style-type: none;
}

.home4 li img {
  height: 17px;
  width: 25px;
}
.home4 li {
  max-width: 100%;
  margin-bottom: 0px;
  color: #3b4248;
  font-size: 18px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
}
.home4 p {
  width: 1140px;
  max-width: 100%;
  margin-bottom: 0px;
  color: #3b4248;
  font-size: 18px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
}

.home4 a {
  font-family: Gilroy, sans-serif;
  color: #1f0452;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

/* Section 5 Home 5 */
.home5 {
  width: 100%;
  padding: 70px 0px;
  max-width: 95%;
}
.home5 img {
  height: 640px;
  width: 560px;
  border-radius: 7px;
}
.home-five-text {
  width: 550px;
  right: 120px;
}

.main-container-two {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home5 p {
  width: 1140px;
  max-width: 100%;
  margin-bottom: 0px;
  color: #3b4248;
  font-size: 18px;
  line-height: 44px;
  font-family: "Poppins", sans-serif;
}

.home5 a {
  font-family: "Gilroy", sans-serif;
  color: #1f0452;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

/* ABOUT US SECTION */

.about {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../task5/images/home1pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 10px;
}
.about p {
  font-size: 65px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
  left: 43%;
  justify-content: center;
  align-items: center;
}

.about a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(252, 249, 249, 0.959);
  text-decoration: none;
  position: absolute;
  padding: 208px 63px;
  border-radius: 5px;
  left: 40%;
  line-height: 37px;
}

/* SECTION 1, ABOUT 1 */

.about1 {
  width: 100%;
  padding: 70px 0px;
  max-width: 95%;
}
.about1 img {
  height: 640px;
  width: 560px;
  border-radius: 7px;
}
.about-one-text {
  width: 550px;
  right: 120px;
}

.about-container-one {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.para2 {
  width: 1140px;
  max-width: 100%;
  margin-bottom: 0px;
  color: #3b4248;
  font-size: 18px;
  line-height: 40px;
  font-family: "Poppins", sans-serif;
}

.para1 {
  font-family: "Gilroy", sans-serif;
  color: #1f0452;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

/* SECTION 2, ABOUT 2 */
.about2 {
  background-color: rgba(113, 157, 177, 0.123);
  width: 100%;
  padding: 60px 0px;
  justify-content: space-around;
  margin-top: 30px;
}

.box-header {
  font-family: "Gilroy", sans-serif;
  color: #000;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-one {
  height: 195px;
  width: 335px;
  padding: 60px 35px;
  background: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.box-two {
  height: 195px;
  width: 305px;
  padding: 60px 35px;
  background: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.box-three {
  height: 195px;
  width: 305px;
  padding: 60px 35px;
  background-color: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.box-one img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(224, 126, 224, 0.089);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}
.box-two img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(224, 126, 224, 0.089);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}
.box-three img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(224, 126, 224, 0.089);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}

h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: Gilroy, sans-serif;
  color: #000;
}

span {
  color: rgb(0, 140, 255);
  font-size: 40px;
  font-weight: 900;
}

h5 {
  font-family: "Gilroy", sans-serif;
  color: #1f0452;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
}

box.paragraph {
  font-family: "Gilroy", sans-serif;
  color: #1f0452;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.view-button {
  background-color: rgb(41, 118, 211);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(41, 118, 211);
  height: 46px;
  width: 132px;
  left: 47%;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  transition: background-color 1s, color 1s;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}

.view-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 118, 211);
}

.view-button:active {
  opacity: 0.7;
}

.contact {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../task5/images/home1pic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 10px;
}
.contact p {
  font-size: 65px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
  left: 43%;
  justify-content: center;
  align-items: center;
}

.contact a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(252, 249, 249, 0.959);
  text-decoration: none;
  position: absolute;
  padding: 208px 63px;
  border-radius: 5px;
  left: 40%;
  line-height: 37px;
}

.contact-form-section {
  background-color: rgba(113, 157, 177, 0.123);
  width: 100%;
  height: 100vh;
  padding: 0px 0px;
  justify-content: space-evenly;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-section h1 {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}

.form-input {
  margin-bottom: 19px;
  position: relative;
  display: flex;
  top: 40px;
  width: 100%;
}

.input {
  width: 487px;
  height: 58px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 11px;
  margin-right: 30px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
  color: #26282b;
  cursor: text;
}

.area,
.message {
  width: 897px;
  height: 298px;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 31px;
  margin-bottom: 71px;
  margin-right: 70px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
  color: #7e7575;
  resize: none;
  cursor: text;
}

.message-btn {
  background-color: rgb(41, 118, 211);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  border: 1px solid rgb(41, 118, 211);
  height: 46px;
  width: 132px;
  padding: 15px;
  left: 41%;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  transition: background-color 1s, color 1s;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}
.message-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 118, 211);
}
.contact-containers {
  background-color: rgba(113, 157, 177, 0.123);
  width: 100%;
  padding: 60px 0px;
  justify-content: space-around;
  margin-top: 30px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-one {
  height: 215px;
  width: 335px;
  padding: 60px 35px;
  background: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.container-two {
  height: 215px;
  width: 305px;
  padding: 60px 35px;
  background: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.container-three {
  height: 205px;
  width: 305px;
  padding: 60px 35px;
  background-color: white;
  margin: 15px;
  position: relative;
  text-align: center;
  border-radius: 7px;
}

.container-one img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(209, 162, 31, 0.788);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}
.container-two img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(209, 162, 31, 0.788);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}
.container-three img {
  height: 80px;
  padding: 10px 15px;
  background-color: rgba(209, 162, 31, 0.788);
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgba(121, 82, 82, 0.15);
}

.label {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: "Gilroy", sans-serif;
  color: #000;
}

.container-paragraph {
  font-family: "Poppins", sans-serif;
  color: #1f0452;
  font-size: 10px;
  line-height: 22px;
}

.footer {
  background-color: #06001b;
  padding: 70px 0;
}

.footer h6 {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 45px;
  font-weight: 800;
}
.footer-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 2, 2);
  font-family: "Poppins", sans-serif;
  width: 238px;
  height: 50px;
  margin-top: 35px;
  margin-left: 595px;
  padding: 10px 15px;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(39, 43, 78, 0.507);
}

.container {
  max-width: 1670px;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 200px;
}

.footer-col {
  width: 29%;
  padding: 0 15px;
  margin: 75px 0px;
  left: 90%;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  line-height: 45px;
}

.footer-col ul li p {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
