body{
    background-color: white;
    min-width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #2F2544 ;
}
div{
    border: 0px solid black;
}
#home1{
}
#navbar{
    width: 100% !important;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0px;
    background-color: white !important;
    z-index: 1;
  
}
#logo{
    width: 20%;
    text-align: center;
    margin: auto;
}
.logo{
    width: 90px;
    height: 90px;

}
#menu {
    width: 60%;
    margin: auto;
    margin-top: 10px;
}
#menu ul{
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: center;

}
#menu ul a{
    padding-right: 25px;
    text-decoration: none;
    color: #2F2544;
    font-size: large;
}

#join{
    width: 20%;
    text-align: center;
    margin: auto;
}
.button{
    padding: 15px 20px;
    background-color: #2F2544;
    color: #FFFFFF;
    border-radius: 7px;
    font-weight: bold;
}
#banner{
    min-height: 500px;
    position: relative;
}
.banner{
    max-width: 100%; 
    height: auto;
}
div.absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.absolute h1{
    color: white;
    font-size: 6vh;
    font-weight: bolder;
}
.hidden{
    visibility: hidden;
}
#home2{
    background-color: #FFFFFF;
    min-height: fit-content;
    margin-top: 70px;
    z-index: -1;
}
.content{
    display: flex;
    width: 80%;
    margin: auto;
    font-size: medium;
}
.text-content{
    padding: 5px 5px;
    margin-top: 50px;
    width: 50%;
    font-size: 20px;
}
.text-content p a{
   color: #2F2544;
   font-weight: bolder;
}
.empty{
    min-width: 10%;
}
.picture-content{
   min-width: 45%;
}
.picture-content .img1{
    width: 100% !important; 
    height: 500px;
}
#home3{
    width: 80% !important; 
    min-height: 500px !important;
    position: relative;
    margin: auto;
}
img2{
    max-width: 100%; 
    height: auto;
}
.content3{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
}
.case-results{
    display: flex;
}
.results{
    min-width: 33%;
    font-size: 20px;
    font-weight: 10px;
}
#home4{
    margin: auto;
    width:80%;
    height:700px;
    display: flex;
}
.pic-content{
    width: 40%;
}
.img2{
    max-width: 100%; 
    height: auto;
}
.question li{
    font-size: 1.1em;
    margin-bottom: 1em;
    position: relative;
    list-style-type: none;
}
.question p {
    font-size: 20px;
}
.question a {
    font-size: 20px;
    color: #2F2544;
}
#home5{
    margin: auto;
    width:80%;
    height:700px;
    position: relative;
}
.content5 {
    width: 100%;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
    display: flex;
}
.pic-content5{
    width: 50%;
}
.electric{
    width: 40%;
    
    height: 600px;
}
.img3{
    max-width: 100%; 
    height: auto;
}
.electric a{
    color:#2F2544;
    font-weight: bolder;

}
#footer{
    background-color: #2F2544;
    min-width: 100%;
    height: 800px !important;
    color:white;
    position: relative;
}
.button2{
    padding: 15px 20px;
    background-color: white;
    color: #2F2544;
    border-radius: 7px;
    font-weight: bold;
}
.wrapper{
    max-width: 80%;
    margin: auto;
    
}
.content6{
    width: 80%;
    margin: auto;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
    text-align: center;
}
.footer-links{
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 17px;
    font-weight: lighter;
    position: absolute;
    top: 80%;
    transform: translate(0, -50%);
    height: 300px;
}
.links{
    padding: 10px;
    width: 33%;
    text-align: center;
}
.links li{
   list-style-type: none;
   margin-bottom: 15px;

}
.link h2{
    font-size: 25px !important;
}
.links a{
    text-decoration: none;
    color: #FFFFFF;
}
/* ################################################################## */


section.home1 {
    padding: 0;
    position: relative;
    text-align: center;
    color: white;
  }
  section.home1 img {
    width: 80%;
  }
  .centered h1{
    font-size: 7vh !important;
  }
  section.home1 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home2 {
    text-align: center;
  }
  
  .home2-col h1 {
    line-height: 1.3em;
    margin-top: 0.2em;
  }
  .home2-col .learn-more {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .home2-img {
    margin-top: 3em;
    width: 100%;
  }
  
  .home3 {
    text-align: center;
    background-color: #fffbf7;
  }
  
  .home3-row {
    margin-top: 3em;
  }
  
  .home3-column {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .home3-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .home4 {
    text-align: center;
  }
  
  .home4-right {
    margin-top: 3em;
  }
  .home4-right h1 {
    line-height: 1.3em;
    margin-top: 0.2em;
  }
  .home4-right .learn-more {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .home4-list {
    margin: 0;
    padding-left: 0.1em;
    text-align: left;
  }
  .home4-list li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
  }
  .home4-list li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../images/bullet.svg");
    background-size: contain;
    margin-right: 0.5em;
    left: -2em;
  }
  
  .home5 {
    text-align: center;
  }
  
  .home5-right {
    margin-top: 3em;
    width: 70%;
    height: 600px;
  }
  .home5-right h1 {
    line-height: 1.3em;
    margin-top: 0.2em;
  }
  .home5-right .learn-more {
    font-weight: bold;
    color: black;
    cursor: pointer;
  }
  
  .about2-img {
    width: 100%;
  }
  .about2{
    width: 80%;
    margin: auto;
    top: 0%;
  }
  
  .about3 {
    background-color: #e8e8e8;
    width: 80%;
    margin: auto;
  }
  .about3 h1 {
    font-size: 2em;
    font-weight: bolder;
  }
  
  .about3-column {
    background-color: white;
    text-align: center;
    padding: 5em auto;
    height: 200px;
    width: 26%;
    margin: 10px auto 5em auto;
    border-radius: 7px;
  }
  .about3-column i {
    margin-top: 1em;
    background: #f2e9e9;
    padding: 1em;
    border-radius: 2em;
  }
  
  .about3-button a {
    background-color: #271630;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
  }
  .about3-button a:hover {
    background: white;
    color: #271630;
    border: 2px solid #271630;
  }
  
  .contact2 {
    background-color: white;
  }
  
  .contact2-column {
    text-align: center;
    padding: 5em auto;
    width: 100%;
    margin: 0 auto 5em auto;
    border: 1px solid;
  }
  .contact2-column i {
    margin-top: 1em;
    background: #ecd95c;
    padding: 1em;
    border-radius: 2em;
  }
  
  .input, .msg .area {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transition: all 0.5s ease;
    resize: none;
  }
  
  .btn {
    background-color: #271630;
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 1em;
    text-decoration: none;
  }
  .btn:hover {
    background: white;
    color: #271630;
    border: 2px solid #271630;
  }
  
  .footer {
    text-align: center;
    background-color: #271630;
    color: white;
  }
  .footer h1 {
    font-size: 25px;
    font-weight: bolder;
  }
  .footer button {
    font-weight: bold;
    font-size: 1em;
    border: none;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 5em;
    display: inline-block;
    padding: 0.8em 2em;
    width: unset;
    cursor: pointer;
  }
  
  .footer-row {
    margin-top: 3em;
  }
  
  .footer-column {
    float: left;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .footer-row:after {
    content: "";
    display: table;
    clear: both;
  }

  section.home1 {
    font-size: 40px;
  }
  .about2{
    position: relative;
    top: 0%;
    height: 600px;
  }
  .home2 .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
  }
  .home2 .container .home2-col {
    margin: 3em 3em 0 5em;
  }
  .home2 .container .home2-col h1 {
    font-size: 1.5em;
  }
  .home4 .containers {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .home4 .containers .home4-img,
.home4 .containers img {
    width: 100%;
  }
  .home4 .containers .home4-right {
    margin: 0 3em 0 5em;
  }
  .home4 .containers .home4-right h1 {
    font-size: 1.5em;
  }
  .home5 .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .home5 .container .home5-img,
.home5 .container img {
    width: 100%;
  }
  .home5 .container .home5-right {
    margin: 0 3em 0 5em;
  }
  .home5 .container .home5-right h1 {
    font-size: 1.5em;
  }
  .container{
    height: 400px;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
  }
  .service-section{
    width: 80%;
    height: 700px;
    background-color: #E8E7E8;
    margin: auto;
    position: relative;
    top: auto;
  }
  .service-wrapper{
    width: 100%;
    height: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 300px;
    margin: auto;
    font-size: 20px;
  }
  .service-icon{
    display: flex;
  }
  .yellow i{
    color: black !important;
    background-color: #ecd95c;
  }
  .yellow{
    border: 1px solid #2F2544;
    height: 250px;
  }
  .login .input {
    width: 40%;
    margin-right: 4%;
  }
  .login .input:last-child {
    margin-right: 0;
  }
  .msg .area {
    width: 84%;
    height: 200px;
  }
  .login{
    height:100px;
    padding: auto;
    text-align: center;
    
  }
  .btn-msg{
    width: 250px;
    padding: 15px 20px;
    background-color: #2F2544;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
  }
  .contact3{
    padding-bottom: 40px;
    padding-top: 40px;
  }
  
  
  
