/* CSS FORMATTING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT */
@font-face {
  font-family: Gilroy-light;
  src: url(./font/Gilroy-Light.otf);
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(./font/Gilroy-ExtraBold.otf);
  font-weight: 600;
}

/* CSS VARIABLES */
:root {
  /* fonts */
  --bodyFont: 1.2em;
  --fontFamilyLight: Gilroy-light, sans-serif;
  --fontFamilyBold: Gilroy-ExtraBold, sans-serif;

  /* padding */
  --bodyPadding: 0 40px;

  /* margin */
  --marginTop: 70px;
}

body {
  font-family: var(--fontFamilyLight);
}

/* NAVBAR STYLES */
header {
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #8795a1;
  padding: 20px 10px;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  padding: var(--bodyPadding);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-link:hover {
  color: #000000;
  transition: 0.7s ease-out;
}

.nav-btn {
  border-radius: 9999px;
  padding: 1em 2em;
  border: none;
  color: #ffffff;
  background: #000000;
  font-size: 1em;
  font-family: var(--fontFamilyLight);
}

.nav-btn:hover {
  cursor: pointer;
}

/* HOME2 BODY STYLES */
.home-2 {
  display: flex;
  flex: 50;
  margin-top: var(--marginTop);
}
.home-2-article {
  max-width: 50%;
  height: 90vh;
}

.home-2-article > div {
  color: #0f0821;
  margin: 60px 0px 20px;
  padding: var(--bodyPadding);
  font-family: var(--fontFamilyBold);
  font-size: 1.4em;
}

.home-2-article p {
  color: #3b4248;
  margin: 0px 0px 32px;
  font-size: var(--bodyFont);
  padding: var(--bodyPadding);
}

.home-2-article > a {
  color: #3b4248;
  padding: var(--bodyPadding);
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--fontFamilyBold);
}

.home-2-article > a:hover {
  color: #fde022;
}
.home-2-img {
  /* padding: 0 80px; */
  margin: 0 auto;
}

/* HOME4 STYLES */
.home-4 {
  display: flex;
  flex: 50;
  height: 150vh;
  margin-top: var(--marginTop);
}

.home-4-img {
  /* border: 2px solid red; */
  padding: var(--bodyPadding);
}

.home-4-article {
  /* border: 2px solid greenyellow; */
  margin: 150px auto;
}

.home-4-article > h2 {
  color: #0f0821;
  padding: var(--bodyPadding);
  font-family: var(--fontFamilyBold);
  font-size: 2em;
  margin: 0 0 32px;
}

.home-4-article ul,
p {
  color: #3b4248;
  margin: 0px 0px 32px;
  font-size: var(--bodyFont);
  padding: var(--bodyPadding);
}

.home-4-article ul > li {
  padding-bottom: 10px;
  font-size: 18px;
}

.home-4-article ul > li::before {
  content: "";
  background-image: url(./img/check-mark-black.svg);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: static;
  top: 0.1rem;
  margin-right: 0.2rem;
}

.home-4-article > a {
  color: #3b4248;
  padding: var(--bodyPadding);
  text-decoration: underline;
  font-size: 18px;
  font-family: var(--fontFamilyBold);
}

.home-4-article > a:hover {
  color: #fde022;
}

/* ABOUT US STYLES */
.abt-img2 {
  display: flex;
  flex: 50;
}

.abt-img2-fig {
  /* border: 2px solid red; */
  padding-left: 20%;
}

.abt-img2-article {
  max-width: 50%;
}

.abt-img2-article h3, h2 {
    color: #0f0821;
    padding: var(--bodyPadding);
    margin: 0 0 32px;
    font-family: var(--fontFamilyBold);
}

.abt-img2-article h3 {
    padding-top: 40px;
}

.abt-img2-article h2 {
    font-size: 2.5em;
}