* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-100 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.container-90 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.container-85 {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.container-80 {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    text-decoration: none;
    color: #000;
    margin: 20px;
    font-size: 18px;
}

.logo:hover {
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1030;
    padding: 10px;
}

.header-btn {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #212529;
    color: #fff;
    border-radius: 20px;
    position: relative;
    right: 50px;
    padding: 8px;
    box-shadow: 0px 0px 2px #000;
    font-weight: 500;
}

.footer-btn {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 8px;
    margin: auto 0;
    border: none;
    font-weight: 500;
}

.header-btn:hover {
    color: #1c1f23;
    color: #fff;
    box-shadow: none;
}

.nav-flex {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.nv-bar {
    width: 70% !important;
    margin: auto;
}

.nv-bar ul.nv {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nv-item {
    display: inline-block;
    margin: 5px;
    width: 90px;
    text-align: center;
    cursor: pointer;
}

.nv-link {
    text-decoration: none;
    font-size: 12px !important;
    display: block;
    padding: 2px 0 5px;
}

.outline-dark {
    color: black;
    -webkit-text-fill-color: #ffc107;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #444;
    text-align: center;
}

.div-0 {
    padding: 0;
    margin: 0;
}

.div-1 {
    background-image: url(../images/pexels-jose-mueses-1280560.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    margin-bottom: 3vh;
}

.contact {
    background-image: url(../images/contacts.jpg) !important;
}

.div-row {
    display: flex;
    flex-wrap: wrap;
}

.div-col {
    flex: 1 0 0%;
}

img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}

.div-1 p {
    font-size: 50px !important;
    font-weight: bolder;
    position: relative;
    top: 175px;
    padding: 0 100px;
}

.div-2 {
    display: flex;
    flex-direction: row;
}

.div-2 img {
    height: 100%;
    width: 100%;
}

.div-2 i {
    padding-right: 10px;
    color: #db8709;
}

.bullet-div {
    margin-top: 20px;
    margin-left: 10px;
}

.bullet-div p {
    line-height: 1em;
}

.div-3 {
    background-color: antiquewhite;
    color: black;
    padding: 50px 0;
}

.div-3 h2 {
    padding-bottom: 50px;
}

footer {
    background-color: #280c37;
    padding: 50px 0 10px 0;
}

footer button {
    margin-left: 41%;
    margin-top: 10%;
}

li#nav-item {
    margin-right: 10px;
    font-family: "Lato", sans-serif;
}

li a {
    color: #333 !important;
}

li:hover {
    background-color: #ffff00;
    border-radius: 50px;
}

.selected {
    background-color: #ffff00;
    border-radius: 50px;
}

a:hover {
    color: #db8709;
    border-radius: 50px;
}

button.btn-dark:hover {
    background-color: #333;
}

.float-chat {
    display: block;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    padding: 5px;
    margin: auto;
    background-color: #000;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.float-chat i {
    font-size: 25px;
    color: #fffff0;
    position: relative;
    top: 6px;
    left: 7px;
}

.contact-tab {
    text-align: center;
    padding: 0 50px;
}

.contact-tab p {
    font-size: 12px !important;
    font-weight: 500;
}

.contact-tab div.div-col {
    border: 1px solid #eee;
    margin: 5px 10px;
    padding: 30px 0;
    box-shadow: 0px 0px 3px #ddd;
}

.contact-tab span {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #C0A01F;
    position: relative;
    margin: 0px 0 20px 0;
    border: 5px solid #fff;
    box-shadow: 0px 0px 0px 15px #fcfcfc;
    cursor: pointer;
}

.contact-tab span i {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 25px;
    right: 25px;
}

.contact-tab p {
    font-size: small;
    color: #666;
}

.form-seg,
.prof-seg {
    background-color: #F4F8FC;
    padding: 30px 110px 70px;
    margin: 50px 0px;
}

.prof-seg span {
    background-color: #FFF8FB !important;
    border: none;
    box-shadow: 0px 5px 15px #eee;
}

.prof-seg span i {
    color: #333 !important;
    top: 30px;
    right: 30px;
}

.prof-seg div.div-col {
    background-color: #fff;
}

.form-seg input {
    margin: 10px 0;
    height: 50px;
    background-color: #fefefe;
    border-radius: 0 !important;
    position: relative;
    padding-left: 40px;
}

.form-seg i {
    position: absolute;
    z-index: 90;
    padding-top: 25px;
    padding-left: 15px;
    font-size: 20px;
}

.form-seg textarea {
    margin: 10px 0;
    height: 200px;
    background-color: #fefefe;
    resize: none;
    border-radius: 0 !important;
    padding-left: 40px;
    padding-top: 12px;
    margin-bottom: 20px;
}

.btn-msg {
    background-color: #448CF0 !important;
    color: #fff;
    margin: auto;
    font-size: small;
    padding: 10px 40px;
    border: none;
    box-shadow: 0px 0px 2px #000;
    border-radius: 3px;
}

.btn-align-center {
    display: grid;
}

p {
    color: #253246 !important;
    font-size: 1.2vw !important;
    line-height: 1.8em;
}

a {
    color: #353535;
    font-size: 13px;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 900 !important;
    color: #253246;
    font-family: "Lato", sans-serif !important;
}

.h1 {
    color: #253246;
    font-size: 35px;
    font-weight: 600;
    font-family: "Lato", sans-serif !important;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #253246;
    font-family: "Lato", sans-serif !important;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.2vw;
}

h3 {
    font-size: 1.8vw;
}

h6 {
    font-weight: 700 !important;
    color: #253246;
}

footer p {
    color: #fff !important;
    font-size: 2vh !important;
    margin: 1vw !important;
}
footer h1{
    font-size: 3.5vw !important;
}

p.social i {
    font-size: 1.6vw;
    margin-right: 1vw;
}

footer div.container {
    margin-top: 10vw;
}

footer div.container-80 {
    margin-top: 7vw;
}

footer h5 {
    margin-left: 1vw;
}

.outline-dark-wt {
    text-align: center;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #000000;
    position: relative;
    top: 2.5vw;
}

.center {
    text-align: center;
}
h5.text-wt{
    font-size: 2.8vh;
}

.text-wt {
    color: #fff;
}

.mg-b-50 {
    margin-bottom: 5vw;
}

.mg-b-70 {
    margin-bottom: 7vw;
}

.mg-l-50 {
    margin-left: 5vw;
}

.mg-t-20 {
    margin-top: 2vw;
}

.mg-b-30 {
    margin-bottom: 3vw;
}

p {
    margin-top: 0;
    margin-bottom: 2vw;
}

.form-field {
    display: block;
    width: 100%;
    margin-right: 10vw;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dot {
    color: #448CF0;
    display: inline;
    font-size: 3vw;
    font-weight: 600;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}