* {
    margin: 0;
    box-sizing: border-box;
}

.main-nav {
position: sticky;
top: 0;
font-family: sans-serif;
}
.nav-header {
    display: flex;
    justify-content: space-around;
    background-color: #2F60A5;
    padding: 25px;

}
.header-title {
    color: #fff;
}
.nav-list {
    display: flex;
    gap:35px;
}
.nav-list li {
    list-style-type: none;
}
.nav-list li a {
    text-decoration: none;
    color: #fff;

}
.nav-list li a:focus {
    color: black ;
}

  .nav-list li a:active {
    background: #eceeea;
    color: black;
  }
/* main section */

.main-section {
    /* margin-top: 10em; */
    background-image: url("ba.jpg");
    height: 500px;
    background-size: cover;
    
   
}

@font-face {
    font-family:Russo-one;
    src: url('./Russo_One.ttf');
}
@font-face {
    font-family: Poppins-Black;
    src: url("../Poppins-ExtraLight.ttf");
}
.container {
    /* display: flex; */
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
   
}
 
.container h2 {
    font-family: Russo-one;
    margin-top: 5em;
    line-height: 60px;
    font-size: 43px;

}
.container p {
    text-align: center;
    margin: 4px;
    line-height: 26px;
    font-size: 16px;
    font-family: Poppins-Black; 
}
.container .btn-cls {
    margin-top: 1em;
}
.container li {
    list-style-type: none;
}
.container a {
    text-decoration: none;
    list-style-type: none;
}

.btn-cls li {
    background-color: #EFA91B;
    padding: 13px;
    border-radius: 9px;

}
.btn-cls li a {
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

/* time-bg */
.time-bg {
    background-color: black;
    color: white;
    padding: 30px;
}
.time-bg ul li {
    list-style: none;
}
.wrapper-bg {
    display: flex;
    justify-content: space-around;
    font-family: Poppins-Black;
    font-size: 20px;
    flex-wrap: wrap;
}

/* .middle .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
section.middle {
    background-color: #F6F6F6;
    padding: 70px;
}
.wrapper h2 {

    margin-bottom: 12px;
    font-family: 'Russo One';
    font-size: 60px;
    color: #005fa5;
}
.wrapper h5 {
    margin-bottom: 11px;
    font-family: 'Poppins-Black' ;
    font-size: 20px;
}
.middle .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
}
.middle p {
    text-align: center;
    width: 850px;
    line-height: 28px;
    font-family: sans-serif;

}
.img-section {
    display: flex;
    justify-content: space-around;
}


/* air freight */
.img-caption .img-class {
    border-radius: 10px;
}
.air-freight {
    background: white;
    padding: 51px;
    box-shadow: blueviolet;
    border-radius: 11px;
    /* margin-bottom: -20px; */
    margin-top: -17px;
}

.air-freight h2 {
    text-align: center;
}

.air-freight ul li {
    list-style: none;
    text-align: center;
}

.air-freight ul li a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 182px;
    line-height: 47px;
    background-color: #fa0;
    border-radius: 18px;
    margin-left: -10px;
    margin-top: 17px;
}

.air-freight ul li a:hover{
    background: rgb(50, 50, 150);
}


/* More Wrapper */
.metric-header {
    background-color:#FEFBF7;
    padding: 216px;
}
.m-content-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.m-content-1 h2 {
    font-size: 34px;
}
.m-content-1 .metric-data {
    font-family: Poppins;
    font-size: 21px;
    display: flex;
    justify-content: space-around;

    width: 1162px;
    flex-direction: row;
    text-align: center;
    margin-top: 51px;
}
.mission-content {
    background-color: #fff;
    padding: 80px;
}
.container-1 {
    display: flex;
    gap:60px;
    justify-content: center;
}
.mission-cont-sect {
    margin-top: 36px;
}
.pilot-con img {
    width: 750px;
}

.mission-statements {
    line-height: 36px;
    font-size: 17px;
    font-family: 'Poppins-Black';
}
.checkmark p {
    margin-top: 10px;

}

.checkmark h2 {
    margin-bottom: 20px;
}

.checkmark h2 a {
    color: black;
}
.checkmark h2 a:hover {
    color:#EFA91B;
}
.mission-content-1 {
    display: flex;
    background-color: #FEFBF7;
    padding: 80px;
    font-family:'Poppins-Black';
}
.mission-content-1 .img-2 {
    width: 1200px;
}
.content-2 {
    margin-top: 29px;
    margin-left: 86px;
    line-height: 31px;
}
.content-2 h2 {
    font-size: 26px;
    font-family: 'Russo-one';
    margin-bottom: 11px;
}



/* footer colass */
.main-footer {
    background-color: #2B2D42;
    padding: 66px;
}
.footer-class-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-class-1 h2 {
    font-size: 56px;
    color: white;
    text-align: center;
    line-height: 68px;
    font-family: 'FontAwesome';
}
.footer-class-1 .champion-footer {
    margin-top: 44px;
}
.footer-class-1 .champion-footer li {
    list-style-type: none;
}

.footer-class-1 li a {
    border-radius: 500px;
    background-color: #fff;
    font-family: Gilroy, sans-serif;
    color: #000;
    text-decoration: none;
    padding: 16px;
}
.footer-class-2 {
    display:flex;
    justify-content: space-between;
    margin-top: 48px;
    line-height: 48px;
    padding-bottom: 54px;
}
.footer-class-2 ul li {
    list-style: none;
    font-family: Gilroy, sans-serif;
}
.footer-class-2 li a {
    text-decoration: none;
    color: #fff;
}
.footer-class-2 h4 {
    color: white;
    font-size: 26px;
    font-family: Gilroy, sans-serif;
}

.icon-class .fa {
    margin-left: 20px;
    font-size:24px; 
    color: white;
}
.divider-line {
    width: 100%;
    height: 2px;
    background-color: hsla(0, 0%, 92.7%, 0.18);
    color: #fff;
}



.airshippingContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;

}
.airshippingContainer h1 {
    margin-top: 10px;
}
.airshippingContainer p{
        margin-top: 54px;   
}

.airshippingContainer p a {
    color: #fff;
    text-decoration: none;
}

.applestores-Container p {
    color:#fff ;
    font-family: 'FontAwesome';
    margin-top: 21px;
    margin-left: -41px;

}
