body {
    background: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


.container{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* common properties */
.flex{
    display: flex;
}

.column_dir{
    flex-direction: column;
}
.minor_axis{
    justify-content: center;
}
.justify{
    justify-content: space-between;
}

.align{
    align-items: center;
}
.relative{
    position: relative;
}
.fixed{
    position: sticky;
    top: 0px;
}

.text_align{
    text-align: center;
}
/* common properties */
.max_logo{
    width: 32px;
}

.max_logo img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    &:hover{
        font-size: 20px;
    }
}

.max h3{
    color: #000;
}

.about{
    width: 40%;
    color: rgba(27, 76, 92, 0.589);
    /* border: 2px solid green; */
}

.max_rider{
    background: #000;
    padding: 12px;
    border-radius: 20px;
}

.max_rider a{
    color: #fff;

}



.contact_us_img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact_us {
    width: auto;
    height: auto;
}

.contact_info{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img_background{
    width: 300px;
    height: 300px;
    background: rgb(239, 238, 238);
    border: 1px solid rgba(216, 216, 216, 0.616);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trans_circle{
    background: #fff;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.email-img{
    background: rgb(167, 142, 2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-img img{
   width: 50px; 
   height: auto;
}

.text_align{
    text-align: center;
}
.later_form {
    width: 75%;
    margin: 0 auto;    
}
.send_message {
    text-align: center;
    font-size: 40px;
}
.send_message::after{
    content: ".";
    color: blue;
}
form input{
    width: 48%;
    height: 35px;   
}
form input::placeholder {
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 0;
}
.textarea {
    rows: 100%;
}
button {
    background: blue;
    color: #fff;
}
.button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.slogan {
    background: rgb(190, 67, 190);
    margin: 0.2em;
    padding-bottom: 2em;
}
.slogan_foot {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slogan_text {
    color: white;
    font-size: 2em;
    margin: 1.5em;
}
.proclamation {
    background: white;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    padding: 0.7em;
    text-decoration: none;
    margin-top: -1.5em;
}
.company_services_touch {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 3em;
}
.company_highligt {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.services_highlight {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.touch_highlight {
    font-weight: bold;
    margin-bottom: 0.5em;
}
nav.menu-btn {
    display: block;
}
nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 20vh;

    ul.primary-nav {
        margin-top: 5em;
    }
    li {
        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            &:hover {
                font-size: 1.5em;
            }
        }
    }
}
.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}
.repair-nav {
    display: flex;
}