body {
    background: white;
    margin: 0;
    font-family: 'Times New Roman';
}
// .navbar {
//     background: white;
//     // padding: 1em;
    
//     .tear {
//         width: 32px;
//         height: auto;
//     }
//     nav {
//         //display: none;
//     }
//     .container {
//         display: flex;
//         // place-content: space-between;
//     }
// }
// a {
//     color: #444444;
// }

.vehicle_banner {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.mobility_future {
    font-size: 3em;
    padding: 1.5em;
    margin-top: -1em;
    margin-left: -1em;
    }


.africa_future {
    display: flex;   
}
.vision {
    margin-top: -5em;
}
.home2-img {
    width: 400px;
    margin: 1em;
    margin-top: -0.5em;
}
.learn-more {
    font-weight: bold;
}
.figures {
    background: yellowgreen;
    margin: 1em;
    padding: 30px 0;

}
.growth{
}
.count-class {

}
.growth_care {
    font-size: 2em;
    text-align: center;
}
.count {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 2em;
}
.count-tag {
    display: flex;
    justify-content: space-around;    
}
.drivers_benefit {
    display: flex;
}
.drivers_benefit_bike {
    width: 650px;
    margin-bottom: 1em;
    margin-right: 2em;
}
.driver_question {
    font-size: 2em;
}
.driver_list {
    font-size: 1.2em;
    font-family: 'Courier New';
    font-weight: bold;
    margin-left: 2em;
    
}
.answer {
    font-size: 1em;
}
.driver_info {
    font-weight: bold;
    text-decoration: none;
}
.tesloid {
    display: flex;
}
.bike {
    width: 500px;
    margin-right: 2em;    
}
.tesloid_paragraph {
    margin-top: 4em;
    margin-left: 2em;
}
.pioneer {
    font-size: 3em;
}
.lm {
    font-weight: bold;
}
.slogan {
    background: rgb(190, 67, 190);
    margin: 0.2em;
    padding-bottom: 2em;
}
.slogan_foot {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slogan_text {
    color: white;
    font-size: 2em;
    margin: 1.5em;
}
.proclamation {
    background: white;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    padding: 0.7em;
    text-decoration: none;
    margin-top: -1.5em;
}
.company_services_touch {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 3em;
}
.company_highligt {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.services_highlight {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.touch_highlight {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* common properties */
.flex{
    display: flex;
}

.column_dir{
    flex-direction: column;
}
.minor_axis{
    justify-content: center;
}
.justify{
    justify-content: space-between;
}

.align{
    align-items: center;
}
.relative{
    position: relative;
}
.fixed{
    position: sticky;
    top: 0px;
}

.text_align{
    text-align: center;
}
/* common properties */
.max_logo{
    width: 32px;
}

.max_logo img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    &:hover{
        font-size: 20px;
    }
}

.max h3{
    color: #000;
}

.about{
    width: 40%;
    color: rgba(27, 76, 92, 0.589);
    /* border: 2px solid green; */
}

.max_rider{
    background: #000;
    padding: 12px;
    border-radius: 20px;
}

.max_rider a{
    color: #fff;

}
