@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    width: 100%;
    height: 20%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 45.575px;
} 

li, a, button {
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    color: #8795a1;
    text-decoration: none;
}

.logo {
    cursor: pointer;  
}

.nav-links {
    list-style: none;    
}

.nav-links li {
    display: inline-block;
    padding: 20px 30px 20px 12px;;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: black;    
}

button {
    padding: 9px 25px;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#ffffff;
}

.container {
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
}

#hero-section {
   background: url(../images/vehicles.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}


.hero-text h1 {
    text-align: center;
    justify-content: center;
    font-family: poppins;
    font-size: 64px;
    color: #ffffff;
    padding-top: 230px;


}

.flex {
    display: flex;
}



#home-two-section {
    background:#ffffff;
    height: 100vh;
    width: 100%;
    font-family: poppins;
}

.home-two-container {
    width: 100%;
    min-height: 100vh;
    margin: 80px 0px 0px;
    padding: 10px 42px 60px;
    display: flex;
}

.left-home-section {
    width: 50%;
    margin: 80px;

}

.left-home-section h1 {
    margin: 0px 0px 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    font-family: poppins;
}

.left-home-section p {
    margin-top: 40px;
    font-size: 28px;
    font-family: poppins;
} 

.right-home-section {
    width: 50%;
    padding-left: 20px;
}

.right-home-section img {
    height: 80vh;
}

.text-box-2 a {
    display: flex;
}

.text-box-2 a p {
    font-family: poppins;
    font-size: 24px;
    color: black;
}

#ratings-section {
    background: #fffbf7;
    height: 80vh;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
   
}

.ratings-container {
    width: 90%;
    margin: 0 auto;
    height: 60vh;
}

.header-title h2 {
    font-family: poppins;
    font-size: 46px;
    text-align: center;
    justify-content: center;
}

#ratings-section .flex {
    justify-content: space-between;
    display: flex;
    margin-top: 60px;
    align-items: stretch;
    margin-left: 40px;
    margin-right: 40px;
}

.flex h1 {
    font-family: poppins;
    font-size: 58px;
}

.flex p {
    font-family: poppins;
    font-size: 18px;
    width: 15px;
}

#home4 {
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.home4-container {
    width: 90%;
    min-height: 100vh;
    margin: 80px;
    padding: ;
    display: flex;
}

.home4-left {
    width: 50%;
    margin: 80px;
}

.home4-left img {
    width: 100%;
    height: 80vh;
}

.home4-right {
    width: 50%;
    padding-top: 70px;
}

.home4-right h1 {
    font-family: poppins;
    font-size: 42px;
}

.home4-right p {
    font-family: poppins;
    font-size: 24px;
    
}

.home4-list li {
    color: #000000;
    font-size: 28px;
    list-style: none;
}

.footer { 
    text-align: center; 
    background-color: #271630; 
    color: white; 
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    width: 100%;
    min-height: 60vh;
    padding-left: 10px;
    padding-right: 10px;
}
 
.footer-container h1 { 
    font-size: 30px; 
    font-weight: bolder; 
    font-family: poppins;
} 
 
.footer-container button { 
        font-weight: bold; 
        font-size: 1em; 
        border: none; 
        margin-top: 1em; 
        margin-bottom: 3em; 
        border-radius: 5em; 
        display: inline-block; 
        padding: .8em 2em; 
        width: unset; 
        cursor: pointer; 
} 
 
.footer-left { 
    margin-top: 3em;  
} 
 
.footer-column { 
    float: left; 
    width: 100%; 
} 

.footer-column h2 {
    font-family: poppins;
    font-size: 28px;
    text-decoration: none;
}

.footer-column ul li {
    list-style: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.text {
    list-style: none;
}
 
/* Clear floats after the columns */ 
.footer-row:after { 
    content: ""; 
    display: table; 
    clear: both;

    text-align: center; 
} 
 
#home5 { 
    width: 100%;
    height: 100vh;
    background: #ffffff;    
} 

.home5-container {
    width: 90%;
    min-height: 100vh;
    margin: 80px;
    padding: 10px 42px 60px;
    display: flex;
}

.home5-left {
    width: 50%;
    margin: 80px
}

.home5-left img {
    width: 100%;
    height: 80vh;
}

.home5-right {
    width: 50%;
    padding-top: 150px;
}

.home5-right h1 {
    font-family: poppins;
    font-size: 38px;
}

.home5-right p {
    font-size: 22px;
    font-family: poppins;
}

.home5-right a {
    margin top: 50px;
}

#about1-section {
   width: 100%;
   height: 100%;
}

.about-container {
    width: 90%;
    height: 50vh;

}
.about-page {
    background: url(../images/peopleworking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#world-focus {
    width: 100%; 
    min-height: 80vh;  
    font-family: poppins; 
}

.focus-container {
    width: 80%;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.left-focus-section {
    width: 45%;
    margin-left: 80px;
    height: 80vh;
}

.right-focus-section {
    width: 45%;
    margin-right: 480px;
    margin-top: 20px;
}

.right-focus-section h3 {
    font-size: 25px;
}

.right-focus-section h1 {
    font-size: 50px;
}
.right-focus-section p {
    font-size: 18px;
}

#about3 {
    padding: 80px 0px;
    background: #E2E6E9;
    min-height: 100vh;
}

.about3-container {
    width: 80%;
    margin: 0 auto;
    min-height:100vh ;
}

#about3 h6, #about3 h2 {
    text-align: center;
}

#about3 h6 {
    font-size: 24px;
    font-weight: 600;
    color: #1E1B1B;
    padding: 15px;
}

#about3 h2 {
    font-size: 58px;
    font-weight: 800;
    color: #1E1B1B;
    margin-bottom: 60px;
    /* width: 850px; */
}


#about3 .offers .offer-box {
    background: #fff;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 12px;
    
}


#about3 .offers p {
    font-size: 20px;
    font-weight: 600;
    color: #1E1B1B;
    padding-top: 10px;
}

#about3 .offers {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
}

#about3 .offers .offer-box:hover {
    background-color: #ff6433;
    color: #fff;


}

.contact2-container {
    display: flex;
    justify-content: center;
    min-height: 250px;
}

.contact2-item {
    width: 250px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.contact2-item-1 {
    min-height: 100px;
}

.contact2-item-2 {
    min-height: 100px;

}

.contact2-item-3 {
    min-height: 100px;
}


    




