* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section,
footer {
    padding: 5% 10%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

h4 {
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

a {
    color: black;
}

.text-container {
    flex: 1;
}

.image-container {
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
    position: fixed;
    height: fit-content;
    width: 100%;
    background-color: white;
    z-index: 4;
    box-shadow: 5px 1px #00000018;
}

.nav-item ul {
    display: flex;
    gap: 60px;
    align-items: center;
}

ul li {
    list-style: none;
}

.big-btn {
    font-size: 16px;
    padding: 8px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nav-cta {
    background-color: black;
    color: white;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    opacity: .7;
}

.hero-text {
    max-width: 1000px;
    position: absolute;
    top: 40%;
    left: 33%;
    font-size: 44px;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.who-we-are,
.description,
.single-product,
.our-focus {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.who-we-are-image,
.description-image {
    width: 100%;
    /* height: 100%; */
    height: 560px;
    object-fit: cover;
}

.who-we-are p {
    margin: 20px 0;

}

.learn-more {
    text-decoration: none;
    font-weight: 600;
}

.our-figures,
.single-product {
    background-color: #eee;
}

.our-figures h3 {
    text-align: center;
}

.our-figures .figures-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.figures-container .figure-group {
    text-align: center;
}

.figure-group p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description .description-list {
    margin: 20px 0;
}

.description .description-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.description .numbering {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description .description-copy {
    margin-bottom: 20px;
}

.single-product {
    align-items: center;
}

.single-product p {
    margin: 20px 0;
}

footer {
    padding-bottom: 4px;
    background-color: rgb(53, 37, 53);
    color: white;
}

footer h1 {
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-cta {
    color: black;
    background-color: white;
}

footer .others {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

footer .others li {
    color: #eee;
    font-weight: 200;
    margin: 10px 0;
    
}

footer li a {
    color: inherit;
}

footer .icons-group {
    display: flex;
    gap: 10px;
}

/* ******************** About Page ********************** */

.about-hero {
    width: 100%;
    height: 70vh;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-hero-text {
    color: rgba(255, 255, 255, 0.788);
    z-index: 4;
    position: absolute;
    font-size: 37px;
    font-weight: 600;
}

.hero-small-text {
    position: absolute;
    color: rgba(255, 255, 255, 0.741);
    /* top: 10px; */
    margin-top: 90px;
    z-index: 4;
}

.our-focus p {
    margin-top: 10px;
}

.services {
    background-color: #eee;
}

.services h6,
.services h2 {
    text-align: center;
}

.services .services-container {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.services .services-card {
    width: 300px;
    height: 200px;
    border-radius: 4px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 231, 248, 0.374);
    margin-bottom: 20px;
}

.service-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-service {
    background-color: rgb(119, 179, 217);
    background-color: #0892d0;
    background-color: #0073cf;
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 13px;
}