body{
    margin: 1px;
    /* padding:  0px 85px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
    background-color: white;
    display: flex;
    align-items: center;
    padding:10px 85px ;
    width: 90%;
    height: 50px;
    /* width: 100%; */
    position: fixed;
}
.nav-bar > h3{
    margin-right:50px;
    /* padding: 6px; */
    /* background-color: yellow; */
}
.nav-bar > h3 > span{
    padding: 10px;
    background-color: rgb(242, 255, 0);
    border-radius: 5px 5px 50px 50px;
}
.nav-bar > div{
    margin:0px auto ;

}
.nav-bar > div > a{
    padding: 0px 15px;
    color: rgb(86, 84, 84);
    text-decoration: none;
}
.nav-bar > button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
}
.center-main-page{
    padding-top: 90px;
    margin: 0px;
    display: block;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:url("../images/photo-backgroud.jpg");
    background-position: 100%;
    font-size: 50px;
    font-weight:1500;
    padding: 0px 8em;
    color: rgb(249, 249, 249);
}
.mid-home-page{
    display: grid;
    grid-template-columns:1fr 1fr;
    padding:1px 85px ;
    /* margin: 0px 85px; */
}
.mid-home-page > img{
    width: 100%;
    height: 500px;
}
.mid-home-page > div > p{
    font-size:19px;
}
.mid-home-page > div > p>a{
    color: black;
    font-weight: 600;
}
.thirdIn-home-page{
    background-color: rgb(247, 240, 229);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thirdIn-home-page > div{
    /* height: 60%; */
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.thirdIn-home-page > div >.third-home-underdivs{
    text-align: center;
}
.third-home-underdivs > h1{
    font-size: 40px;
    font-weight: 900;
}
.third-home-underdivs > p{
    font-size: 19px;
}
.section-experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 85px;
}
.section-experience > img{
    width: 90%;
    height: 450px;
    margin: 30px 0px;
}
.section-experience > .experience-note > h1,.fifth-section >div > h1{
    font-size: 30px;
}
.experience-note > ul >li,.experience-note > p,.fifth-section >div > p{
    font-size: 19px;
    margin: 14px;
    list-style-type: square;
}
.fifth-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1px 85px;
}
.fifth-section > img{
    width: 90%;
    height: 350px;
}
footer{
    background-color: rgb(24, 3, 52);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer>h1{
    font-size: 49px;
    padding: 0px 8em;
    text-align: center;
}
footer > button{
    width: 250px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: white;
    color: black;
    font-weight: 560;
    cursor: pointer;
}
footer > .footer-bottom-divs{

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;

}
.footer-bottom-divs > div{
 margin: 0px 35px;
}

.top-contact-page,.top-about-page{
    margin-top: 0ch;
    height: 400px;
    /* background-color: rgb(97, 92, 86); */
    background:url("../images/Customer\ Care\ 1.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-about-page{
    background-image: url("../images/bolt-driver.jpg");
}
.top-contact-page > h1,.top-about-page > h1{
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.top-contact-page > p > a,.top-contact-page > p {
    color: white;
    text-decoration: none;

}
.mail-contact{
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.mail-contact > div{
    height: 70%;
    width: 280px;
    border: 1px solid black;
    margin: 0px 15px;
    text-align: center;
}
.mail-contact > div >img{
    margin: 15px;
    width: 45%;
    background-color: rgb(214, 168, 52);
    border-radius: 45px;
}
.form-area{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px 80px 80px 100px 100px 80px 80px;
    justify-content: center;
    align-content: center;
    background-color: rgb(227, 234, 237);
    /* align-items: center; */
}
.form-area > h1{
    text-align: center;
    font-size: 45px;
    font-weight: 1000;

}
.form-area > input{
    margin: 10px 20px;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}
.form-area > textarea{
    margin: 10px 20px;
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
}
.form-area > button{
    margin: auto auto;
    text-align: center;
    width: 220px;
    height: 55px;
    border: none;
    color: white;
    background: rgb(74, 50, 209);
    font-weight: 550;
    border-radius: 3px;
}
.top-about-page > p > a,.top-about-page > p {
    color: white;
    text-decoration: none;
}
.mid-about-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1px 85px;
}
.mid-about-page > img{
    width: 85%;
    margin-bottom: 15px;
}
.mid-about-page > div > h1{
    font-size: 40px;
    font-weight: 900;
}
.mid-about-page >div >p{
    font-size: 16px;
}
.third-our-service{
    /* margin-top:40px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(227, 234, 237);
}

.third-our-service > .our-services-unDivs{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
}
.our-services-unDivs > div{
    margin: 5px 10px;
    width: 22%;
    height: 250px;
    border: none;
    background-color: white;
}
.our-services-unDivs > div > img{
    padding: 15px 5px;
    width: 40%;
    border-radius: 60px;
    /* background-color: rgba(253, 240, 220, 0.911); */
}
.third-our-service > button{
    margin: 20px auto;
    align-self: center;
    width: 150px;
    height: 50px;
    font-size: 16px;
    background: rgb(84, 128, 204);
    color: white;
    border: none;
    border-radius: 5px;
}
#webIcon{
    width: 130px;
    height: 30px;
    border-radius: 8px;
}



