@font-face {
  font-family: Gilroy, sans-serif;
  src: url("fonts/Gilroy/Gilroy-ExtraBold.otf");
  src: url("fonts/Gilroy/Gilroy-Light.otf")
}
/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color:white;
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
/* headings Elements*/
h1, h2, h3, h4, h5, h6{
  font-family: Gilroy, sans-serif;
  font-weight: 900;
}
h1{
  font-size: 40px;
  text-align: center;
  line-height: 1.2;
}
h2{
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 900;
}
h3{
  font-size: 1.5em;
  margin-bottom: 20px;
}
hr{width: 60px;
  border-style: dashed;
  margin: 0 auto;
  color:#b6b6b6;
}
/* header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color:#ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.container{
  max-width: 100%;
  margin: 0 auto;
}
.layout{
  padding: 50px 10%;
}
.logo>img{
  width: 70px;
}
.links ul{
  display: flex;
  list-style: none;
}
.links a{
  color: #80868f;
  text-decoration: none;
}
.links li{
  padding: 10px;
  position: relative;
}
#active{
  color: black
}
li, a, .cta{
  font-size: 14px;
  font-weight: 500;
}
.links li a{
  transition: all 0.5s ease; 
}
.links li a:hover{
  color: black;
}
.cta{
  background-color:black;
  padding: 10px 26px;
  border-radius: 25px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-family: Gilroy, sans-serif;
  cursor: pointer;
}
.cta:hover{
  background-color:rgba(0, 0, 0, 0.8);
  transition: all 0.9s ease;
}
/* hand burger */
.toggle-button{
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:30px ;
  height: 21px;
}
.bar{
  width: 100%;
  height: 3px;
  background-color: #5e54d1;
  border-radius: 10px;
}
/* banner */
.banner{
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}
.banner::after {
  content: "";
  background-image: url(./images/background1.png);
  background-position: center -10px;
  background-size: cover;
  background-repeat:no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.banner h1{
  display: flex;
  align-items: center;
  max-width: 58%;
  color:#ffffff;
}
.home-about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.home-about h2{
  margin-bottom: 20px;
  color: #0f0821;
  line-height: 42px;
}
.home-about p{
  margin-bottom: 32px;
  color: #808a92;
  font-size: 18px;
  line-height: 30px;
}
.home-about a{
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.home-about>img{
  width: 450px;
}
.growth{
  background-color: #fffbf7;
}
.growth>h1{
  font-size: 28px;
  margin-bottom: 50px;
}
.growth-parent-box{
  display: flex;
  justify-content: space-around;
}
.growth-box>h1{
  margin-bottom: 20px;
}
.growth-box>p{
  text-align: center;
  font-size: 16px;
  color: #84898c;
}
#close-h2{
  line-height: 1;
}
.list{
  display: flex;
  align-items: flex-start;
}
.check{
  margin-right: 10px;
  width: 30px;
}
.list p{
  line-height: 1.2;
  font-size: 16px;
  margin-bottom: 20px;
}

/* About Page */
.banner>div{
  text-align: center;
}
.about-banner::after {
  content: "";
  background-image: url(./images/Max-img2.png);
  background-position: center -10px;
  background-size: cover;
  background-repeat:no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.about{
  display: flex;
  gap: 40px;
}
.about>img{
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}
.about h4{
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.about p{
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #54515c;
}
.services{
  text-align: center;
}
/* footer */
footer{
  background-color:#2f2544;
  color: white;
}
.max-champ{
  padding: 50px 0;
  text-align: center;
  margin: auto;
}
.max-champ h1{
  max-width: 88%;
  font-size: 40px;
  margin: 20px auto 40px;
  color:#ffffff;
}
.cta2{
  background-color: #ffffff;
  font-size: 12px;
  color: black;
  padding: 16px 32px;
}
.cta2:hover{
  background-color:rgba(255, 255, 255, 0.8);
  transition: all 0.9s ease;
}
.foot{ 
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.foot h4{
 margin-bottom: 26px;
 font-size: 18px;
 line-height: 18px;
}
.foot>div>a{
  display: block;
  text-decoration: none;
}
.foot a{
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  font-family: Gilroy, sans-serif;
}
#success{
  margin-bottom: 0;
}
.foot P{
  font-size: 14px;
  line-height: 22px;
}
.foot P, .social{
  margin-bottom: 20px;
}
.social i{
  margin: 0 5px;
  font-size: 20px;
}
.foot h4, .foot a{
  color: white;
}

/* Responsiveness (Mobile View) */
@media (max-width:800px){
  /* header */
  .toggle-button{
    display: flex;
  }
  header{
    flex-direction: column;
    align-items: flex-start;
  }
  ul{
    flex-direction: column;
    
  }
  nav{
    display: none;
  }
  .links ul{
    margin-top: 1.5rem;
  }
  .cta{
    display: none;
    margin: 10px 0 0 10px;
  }
  .active{
    display: flex;
  }
  /* home */
  h1{
    font-size: 4em;
    line-height: 0.6;
    margin-bottom: 35px;
  }
  .work>div{
    flex-direction: column;
    text-align: center;
  }
  .layout{
    padding: 100px 10%;
  }
  .up-img{
    margin-bottom: 20px;
  }
  .down-img{
    margin-top: 20px;
  }
  /* work */
  .project-img{
    max-width: 300px;
  }
}